@import url("https://use.typekit.net/ubg2skp.css");
body{
    background-color: rgb(255, 255, 255);
    font-family: "obviously-variable", sans-serif;
    color: rgb(0, 0, 0);
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(201, 201, 201);
    padding: 1rem;
    position: sticky;
    top: 0px;
    font-size: smaller;
}
header nav li, nav li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 0.5vh;
}
nav a:hover{
    color: grey;
}
img{
    width: 50px
}
i{
    font-size: smaller;
    color: rgb(0, 0, 0);
}
header input{
    width: 7rem; 
}
/* hier begint de main*/
h2{
    font-size: 18pt;
}
h3{
    font-size: 10pt;
}
#herobanner{
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: center;
}
.videoframe {
    overflow: hidden;
    margin-bottom: 6rem;
    max-height: 100vh;
  }
video {
    width: 100%;
  }
#trending{
    flex: content;
    padding: 1rem;
    margin: 1rem;
    margin-top: -9rem; 
  }
main flex-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 200px;
}
main flex-item {
    flex: 1;
}
main img {
    width: 100%;
}