@import url(https://www.cssfontstack.com/Helvetica);
body{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgb(116, 116, 116);
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(201, 201, 201);
    padding: 1rem;
}
header nav li, nav li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav li:hover{
    --h:2em;
    color: grey;
    overflow: hidden;
    text-shadow:
                0 var(--_t, var(--h)) rgb(0, 0, 0),
                0 0 var(--_c, rgba(1, 173, 87, 0));
        background:
                linear-gradient(#000000 0 0) bottom/100% var(--_d, 0) no-repeat;
        transition: 2s;
}
img{
    width: 50px
}
i{
    font-size: smaller;
    color: rgb(0, 0, 0);
}
header input{
    width: 7rem; 
}