html{
    background-color: black;
    color: whitesmoke;
    font-family: el messiri;
}
h1{
    font-family: Alphabetized Cassette Tapes;
    text-align: center;
    font-size: 100px;
    margin: auto;
}
h2{
    font-size: 40px;
    margin: auto;
    text-decoration: underline;
}
p{
    margin: auto;
    font-size: 16px;
}
#flexbox{
    display: flex;
    background-color: #000094;
    padding: 4%;
    margin: 50px;
    flex-direction: row;
    border-color: lightsalmon;
    border: #149900;
    border: 10px;
    width: 50vw;
    margin: auto;
}
a{
    color: #149900;
    font-size: 16px;
}
a:hover{
    color: #0000c4;
    
}
li{
    color: #149900;
    margin: auto;
    list-style: none;
    text-align: center;
}
.col-left {
    display: block;
    text-align: left;
    width: 50vw;
}
.col-right{
    display: block;
    text-align: right;
    width: 50vw;
}
footer{
    width: 40vw;
    margin: auto;
    text-align: center;
    background-color: #353586;
}