* {
  box-sizing: border box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 50px;
  padding: 0;
  background-size: cover;
  background: url(img/Bg_PC.svg) no-repeat center center;

}

header {
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-box {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
}

.logo-title {
  font-size: 24px;
}

.login-box {
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

.watch-button {
  background-color: #00000079;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.watch-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.tekst h1 {
  color: #fff;
  font-size: 64px;
  width: 40%;
}

.tekst p {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 40%;
}

.muis {
  display: flex;
  justify-content: center;
}

@media(max-width:375px) {
  img {
    display: flex;
    flex-direction: column;
  }

  .lorem-ipsum-dolor {
    padding: 90px 0;
  }

  .background {
    width: 375px;
    height: 795px;
  }

}

@media (max-width: 768px) {
  img {
    display: flex;
    flex-direction: column;
  }

  .lorem-ipsum-dolor {
    padding: 90px 0;
  }

  .background {
    width: 768px;
    height: 795px;
  }
}