* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-left: 21px;
  background-color: #71976B;
  width: 100%;
}



header {
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.nav-menu li {
  padding-right: 2vw;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-box {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
}

.logo-title {
  font-size: 1.5rem;
}

.login-box {
  border: 1px solid #fff;
  padding: 10% 20%;
  border-radius: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

.watch-button {
  background-color: #00000079;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 0.875rem;
  margin-top: 3%;
  cursor: pointer;
  transition: background-color 0.3s;

}

.watch-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.tekst {
  align-items: center;
  padding-left: 5%;
  padding-top: 80px;
}

.tekst h1 {
  color: #fff;
  font-size: 4rem;
}

.tekst p {
  color: #fff;
  font-size: 1rem;
  display: block;
}


.muis {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.skull {
  width: 100%;
  padding-right: 1%;
}

header input#burger {
  display: none;
}

header label[for="burger"] {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  display: none;
  padding: 1rem 1ch;
  background-color: none;
  text-align: right;
  cursor: pointer;
}

header label[for="burger"] i {
  margin: 0;
  font-size: 3rem;
  color: var(--txt-01);
}

@media(max-width:768px) {

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .skull {
    z-index: -1;
    margin-top: -20%;
  }

  .tekst {
    margin-top: -10%;
    margin-right: 20%;
  }

  .muis {
    margin-top: -10%;
  }

  header label[for="burger"] {
    display: block;
    margin: 30px 30px 0 0;
  }

  header input#burger:checked+label[for="burger"]+nav ul {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:375px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .skull {
    z-index: -1;
    margin-top: -30%;
  }

  .tekst p {
    margin-right: 20%;
  }

  .tekst {
    margin-top: -20%
  }

  h1 {
    margin-right: 20%;
  }

  .muis {
    margin-top: -10%;
  }

  header label[for="burger"] {
    display: block;
    margin: 30px 30px 0 0;
  }

  header input#burger:checked+label[for="burger"]+nav ul {
    display: flex;
    flex-direction: column;
  }
}