* {
  box-sizing: border box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-left: 21px;
  margin-right: 21px;
  background-color: #71976B;
  width: 100%;
}

header {
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-box {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
}

.logo-title {
  font-size: 1.5rem;
}

.login-box {
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

.watch-button {
  background-color: #00000079;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;

}

.watch-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.tekst {
  align-items: center;
  padding-left: 10rem;
  padding-top: 5rem;
}

.tekst h1 {
  color: #fff;
  font-size: 4rem;
}

.tekst p {
  color: #fff;
  font-size: 1rem;
  display: block;
}

.muis {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.skull {
  width: 120rem;
  padding-right: 2rem;
}

@media(max-width:768px), (max-height:1603px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

}

@media(max-width:375px), (max-height:1603px) {
  body {

  }
}