@import url("https://use.typekit.net/hfi1kak.css");
@import url("https://use.typekit.net/mox8aly.css");

:root {
    --bgc-01: #e6f1df;
    --bgc-02: #549df0;
    --bgc-03: #490052;
    --bgc-04: #000000;
    --txt-01: #e6f1df;
    --txt-02: #549df0;
    --txt-03: #490052;
    --txt-04: #000000;

}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1 {
    color: var(--txt-04);
    font-size: 20pt;
    margin-bottom: 1%;
    padding: 10px 0px;

}

h2 {
    color: var(--txt-04);
    font-size: 12pt;
    font-family: "calibri", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 0px;
    padding-bottom: 10px;

}

body {
    background-color: var(--bgc-01);
    color: var(--bgc-01);
    font-family: "Segoe Print";
    line-height: 1;
}

header {
    background-color: var(--bgc-04);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: var(--txt-01);
    font-size: 30px;
}

header nav li {
    margin: 2%;
    display: inline;
    align-items: center;
}

header img {
    width: 15rem;
    margin: repeat(3, -30);
}

img {
    display: block;
    width: 100%;
    align-items: start;
}

.Line-up {
    color: var(--txt-04);
    font-size: 430%;
    padding: 10px;
    margin: 10px 0px 20px 0;
}

#line-up img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 20px 0 20px;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

span {
    display: block;
    width: 100%;
    padding: 1rem 0;
    background-color: hsla(212, 84%, 64%, 0.5);
    text-align: center;
    font-size: 300%;
}

footer{
    background-color: var(--bgc-03);
    text-align: center;
}
footer img{
    justify-content: center;
    width: 500px;
    padding: 20px;
    margin: 0px 0px 10px 0px;
}
footer i{
    font-size: 50px;
    margin: 10px 0 10px 0;
}
footer p{
    font-size: 30px;
    margin: 10px 0 10px 0;

}
.copyright{
    font-family: "calibri", sans-serif;
    font-size: 20px;
    padding: 10px 0 10px 0;

}