@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: #e6f1df;
    --bgc-02: #549df0;
    --bgc-03: #490052;
    --bgc-04: #000000;
    --txt-01: #e6f1df;
    --txt-02: #549df0;
    --txt-03: #490052;
    --txt-04: #000000;

}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--bgc-01);
    font-family: "Segoe Print";
    line-height: 1;
}

header {
    background-color: var(--bgc-04);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: start;
}

header a {
    text-decoration: none;
    color: var(--txt-01);
    font-size: 30px;
}
header nav li{
    display: inline;
    justify-items: end;
    align-items: center;
}

header img {
    width: 15rem;
    margin: repeat(3,-30);
}

body img{
    grid-template-columns: repeat(3,1fr);
    width: 33%;
    display: inline;
    align-items: start;
}

footer {
    background-color: var(--bgc-03);
}